@mixin required-label{
  font-size: 14px;
  span{
    padding: 4px;
    border-radius: 3px;
    background-color: red;
    color: #fff;
  }
}

@mixin unrequired-label{
  font-size: 14px;
  span{
    padding: 4px;
    border-radius: 3px;
    background-color: rgb(194, 194, 194);
    color: #fff;
  }
}

@mixin shipping-address-form{
  height: 40px;
  width: 300px;
  margin: 10px 0;
  padding-left: 5px;
}


.shipping-address-new__wrapper{
  background-color: #f3f3f3;
  .body{
    display: flex;
    justify-content: center;
    .shipping-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50vw;
      background-color: #fff;
      .title-box{
        border-bottom: 1px solid #f5f5f5;
        width: 70%;
        text-align: center;
        padding: 20px 0;
        &__text{
          font-size: 22px;
          font-weight: bold;
        }
      }
      .shipping-box-sizing{
        padding: 20px 0 0;
        display: flex;
        flex-direction: column;
      }
      .name-box{
        &__label{
          @include required-label
        }
        &__family-name{
          @include shipping-address-form
        }
        &__first-name{
          @include shipping-address-form
        }
      }
      .kana-name-box{
        &__label{
          @include required-label
        }
        &__family-name{
          @include shipping-address-form
        }
        &__first-name{
          @include shipping-address-form
        }
      }
      .postal-code-box{
        &__label{
          @include required-label
        }
        &__form{
          @include shipping-address-form
        }
      }
      .state-province-box{
        &__label{
          @include required-label
        }
        &__form{
          
          @include shipping-address-form
        }
      }
      .city-box{
        &__label{
          @include required-label
        }
        &__form{
          @include shipping-address-form
        }
      }
      .street-box{
        &__label{
          @include required-label
        }
        &__form{
          @include shipping-address-form
        }
      }
      .building-number-box{
        &__label{
          @include unrequired-label
        }
        &__form{
          @include shipping-address-form
        }
      }
      .phone-number-box{
        &__label{
          @include required-label
        }
        &__form{
          @include shipping-address-form
        }
      }
      .submit-box{
        padding: 30px 0 20px 0;
        &__submit-btn{
          background-color: #3CCACE;
          color: #fff;
          width: 200px;
          height: 50px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
      }
      &__back-btn{
        margin-bottom: 20px;
      }
    }
  }
}
