.purchase-show__wrapper{
  background-color:#f5f5f5;
  width: 100vw;
  .body{
    display: flex;
    justify-content: center;
    width: 100%;
    .item-container{
      background-color: #fff;
      max-width: 700px;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .purchase-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 150px;
        border-bottom: 1px solid #f5f5f5;
      }
      .headline-box{
        h2{
          font-size: 24px;
          line-height: 34px;
          font-weight: bold;
        }
      }
      .purchase-item-box{
        display: flex;
        justify-content: space-around;
        &__image{
          height: 100px;
          width: 100px;
        }
        &__contents{
          &--name{
            max-width: 200px;
            font-weight: bold;
          }
          &--price{
            margin-top: 20px;
            font-size: 12px;
          }
        }
      }
      .total-place-box{
        display: flex;
        justify-content: space-around;
        &--title {
          font-weight: bold;
          font-size: 18px;
        }
        &--price {
          background-color: #3ccace;
          color: #333;
          padding: 1px 2px;
          margin-top: 4px;
          border-radius: 2px;
          border: 2px solid grey;
          vertical-align:top;
        }
      }
      .payment-box{
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        &--title{
          font-size: 15px;
          .method {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
          }
        }
        &--card {
          .card-content {
            .number {
              background-color: #3ccace;
              color: #333;
              padding: 2px 12px;
              margin-top: 4px;
              border-radius: 2px;
              border: 2px solid grey;
              vertical-align:top;
            }
            .exp {
              background-color: #3ccace;
              color: #333;
              padding: 2px 12px;
              margin-top: 4px;
              border-radius: 2px;
              border: 2px solid grey;
              vertical-align:top;
            }
          }
        }
      }
      .shipper-box{
        display: flex;
        justify-content: space-around;
        &__contents{
          display: flex;
          flex-direction: column;
          &--address{
            max-width: 180px;
            font-size: 12px;
          }
        }
      }
      .info-box{
        padding: 0 20px;
        font-size: 12px;
        color: lightgrey;
      }
      .buy-btn-box{
        margin: 20px 0;
        padding: 0 20px;
        width: 40%;
        &--submit{
          text-align: center;
          line-height: 50px;
          width: 100%;
          height: 50px;
          border-radius: 4px;
          background-color: rgb(234, 53, 45);
          color: #fff;
        }
      }
    }
  }
}
