.bottom-image
  .bottom-image__headline
    %h2 だれでもかんたん、人生を変えるフリマアプリ
  .bottom-image__text
    今すぐ無料ダウンロード！
  .bottom-icons
    = link_to '#' do
      = image_tag "Download_on_the_App_Store_Badge_US-UK_blk_092917.png", class:'bottom-icons__apple'
    = link_to '#' do
      = image_tag "google-play-badge.png", class:'bottom-icons__google'
