*{
  box-sizing: border-box;
}
// ヘッダー
.header{
  height: 110px;
  padding: 0px 60px 50px;
  display: flex;
  justify-content: center;
  .header-inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .header-main{
      display: flex;
      align-items: center;
      &__logo{
        width: auto;
        height: 40px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__search-box{
        width: 100%;
        margin-left: auto;
        form{
          display: flex;
          width: 100%;
          margin-top: 5px;
        }
        &--input{
          height: 36px;
          width: calc(100% - 26px);
          padding: 0 0 0 5px;
        }
        &--submit{
          background-color: #3CCACE;
          width: 36px;
          border: 0;
          cursor: pointer;
          padding: 8px;
        }
      }
    }
    .header-navigation{
      display: flex;
      font-size: 14px;
      margin-top: 5px;
      justify-content: space-between;
      align-items: center;
      .search-list{
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
        padding: 0;
        a{
          text-decoration: none;
          color: #333;
          line-height: 32px;
          padding-right: 30px;
        }
        &__category{
          margin-right: 45px;
        }
      }
      .login-box{
        display: flex;
        margin-left: auto;
        list-style: none;
        a{
          text-decoration: none;
          color: #333;
          line-height: 32px;
          padding-right: 30px;
        }
        &__login{
          margin-right: 15px;
        }
        &__registration{
        }
      }
    }
  }
}
// body
@mixin reason-num{
  height: 55px;
  width: 55px;
  background-color: #3CCACE;
  font-size: 30px;
  color: #fff;
  border-radius: 4%;
  text-align: center;
  padding-top: 5px;
}
@mixin reason-headline{
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  span{
    color: #3CCACE;
  }
}
@mixin reason-text{
  font-size: 18px;
  margin-top: 16px;
}
@mixin apple-banner{
  width: auto;
  height: 55px;
}
@mixin google-banner{
  width: auto;
  height: 80px;
}
@mixin after-underline{
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  position: absolute;
}
@mixin fuature-h3{
  font-weight: bold;
  font-size: 19px;
}
@mixin fuature-text{
  margin-bottom: 40px;
  font-weight: 200;
  font-size: 17px;
}
@mixin fuature-image{
  width: 70%;
  height: auto;
}
$font-shadow: 0 0 5px rgba(0,0,0,0.4);

.toppage-body{
  .sell-btn{
    width: 120px;
    background-color: #3CCACE;
    right: 32px;
    bottom: 32px;
    position: fixed;
    padding: 15px;
    border-radius: 4%;
    text-align: center;
    &__text{
      color: #fff;
      font-size: 18px;
      margin-bottom: 5px;
    }
    &__icon{
      width: 60%;
    }
  }
  .main-image{
    background-image: url(/assets/pict/bg-mainVisual-pict_pc.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    color: #fff;
    &__text-box{
      h2{
        font-size: 60px;
        text-shadow: $font-shadow;
      }
      &__text{
        font-size: 18px;
        text-shadow: $font-shadow;
        margin-top: 16px;
      }
    }
    .main-icons{
      display: flex;
      align-items: center;
      &__apple{
        @include apple-banner
      }
      &__google{
        @include google-banner
      }
    }
  }
  .reason-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    .reason-headlines{
      &__text{
        text-align: center;
        line-height: 1.4;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        &::after{
          @include after-underline
        }
        h2{
          font-weight: bold;
          font-size: 26px;
        }
      }
    }
    .reasons-container{
      display: flex;
      justify-content: center;
      .first-reason{
        width: 30%;
        margin: 16px 5% 0 0;
        &__image{
          height: 300px;
          background: url(/assets/pict/pict-reason-01.jpg)center/cover no-repeat;
          .reason-number__first{
            @include reason-num
          }
        }
        &__headline{
          @include reason-headline
        }
        &__text{
          @include reason-text
        }
      }
      .second-reason{
        width: 30%;
        margin: 16px 5% 0 0;
        &__image{
          height: 300px;
          background: url(/assets/pict/pict-reason-02.jpg)center/cover no-repeat;
          .reason-number__second{
            @include reason-num
          }
        }
        &__headline{
          @include reason-headline
        }
        &__text{
          @include reason-text
        }
      }
      .third-reason{
        width: 30%;
        margin-top: 16px;
        &__image{
          height: 300px;
          background: url(/assets/pict/pict-reason-03.jpg)center/cover no-repeat;
          .reason-number__third{
            @include reason-num
          }
        }
        &__headline{
          @include reason-headline
        }
        &__text{
          @include reason-text
        }
      }
    }
  }
  .sub-image{
    height: 400px;
    background: url(/assets/pict/bg-topMiddleDl-pict.jpg)center bottom/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    color: #fff;
    h2{
      text-shadow: $font-shadow;
      font-size: 27px;
      font-weight: bold;
    }
    &__text{
      font-size: 18px;
      margin: 20px 0 30px;
      text-shadow: $font-shadow;
    }
    .sub-iconbox{
      display: flex;
      align-items: center;
      &__apple{
        @include apple-banner
      }
      &__google{
        @include google-banner
      }
    }
  }
  .fuature-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    .fuature-headline{
      &__text{
        text-align: center;
        line-height: 1.4;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        h2{
          font-weight: bold;
          font-size: 26px;
        }
        &::after{
          @include after-underline
        }
      }
    }
    .future-container{
      display: flex;
      justify-content: center;
      padding: 60px 60px;
      .first-fuature{
        width: 30%;
        &__image{
          @include fuature-image
        }
        &__headline{
          text-align: center;
          margin: 40px 0 10px;
          h3{
            @include fuature-h3
          }
        }
        &__text{
          @include fuature-text
        }
      }
      .second-fuature{
        width: 30%;
        margin: 0 20px;
        &__image{
          @include fuature-image
        }
        &__headline{
          text-align: center;
          margin: 40px 0 10px;
          h3{
            @include fuature-h3
          }
        }
        &__text{
          @include fuature-text
        }
      }
      .third-fuature{
        width: 30%;
        &__image{
          @include fuature-image
        }
        &__headline{
          text-align: center;
          margin: 40px 0 10px;
          h3{
            @include fuature-h3
          }
        }
        &__text{
          @include fuature-text
        }
      }
    }
  }
  .pickup-categories{
    padding: 80px 40px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__headline{
      h2{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
      }
    }
    &__link{
      text-align: center;
      font-size: 24px;
      text-decoration: none;
      color: #3CCACE;
      margin-bottom: 20px;
    }
    &__container{
      display: flex;
      justify-content: center;
      a:link{
        text-decoration: none;
        font-size: 16px;
        color: #333;
      }
      .category-item-box{
        width: 220px;
        background-color: #fff;
        &__image{
          width: 100%;
          height: 150px;
          object-fit: contain;
        }
        &__name{
          overflow: hidden;
          padding: 16px 16px 0;
          font-size: 16px;
          color: #333;
        }
        &__bottom-box{
          display: flex;
          justify-content: space-between;
          padding: 0 16px 16px;
          .category-item-price{
            overflow: hidden;
            font-size: 16px;
            text-decoration: none;
            font-size: 16px;
            color: #333;
            span{
              text-decoration: none;
              color: #333;
              font-size: 10px;
            }
          }
          .category-item-favorites{
            text-decoration: none;
            font-size: 16px;
            color: #333;
          }
        }
      }
    }
  }
  .pickup-brand{
    padding: 80px 40px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__headline{
      h2{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
      }
    }
    &__link{
      text-align: center;
      font-size: 24px;
      text-decoration: none;
      color: #3CCACE;
      margin-bottom: 20px;
    }
    &__container{
      display: flex;
      justify-content: center;
      a:link{
        text-decoration: none;
        font-size: 16px;
        color: #333;
      }
      .brand-item-box{
        width: 220px;
        background-color: #fff;
        &__image{
          width: 100%;
          height: 150px;
          object-fit: contain;
        }
        a{
          text-decoration: none;
          font-size: 16px;
          color: #333;
        }
        &__name{
          overflow: hidden;
          padding: 16px 16px 0;
          text-decoration: none;
          font-size: 16px;
          color: #333;
        }
        &__bottom-box{
          display: flex;
          justify-content: space-between;
          padding: 0 16px 16px;
          .brand-item-price{
            overflow: hidden;
            text-decoration: none;
            font-size: 16px;
            color: #333;
            span{
              text-decoration: none;
              color: #333;
              font-size: 10px;
            }
          }
          .brand-item-favorites{
            text-decoration: none;
            font-size: 16px;
            color: #333;
          }
        }
      }
    }
  }
  .bottom-image{
    height: 360px;
    background: url(/assets/pict/bg-appBanner-pict.jpg)center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    &__headline{
      h2{
        font-size: 24px;
        font-weight: bold;
        text-shadow: $font-shadow;
      }
    }
    &__text{
      font-size: 35px;
      text-shadow: $font-shadow;
    }
    .bottom-icons{
      display: flex;
      align-items: center;
      &__apple{
        @include apple-banner
      }
      &__google{
        @include google-banner
      }
    }
  }
}

// footer
@mixin footer-text{
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
@mixin footer-headline{
  margin-bottom: 20px;
  h2{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
}

.footer{
  background-color: #272727;
  padding: 60px 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .link-box{
    display: flex;
    .about-furima{
      display: flex;
      flex-direction: column;
      text-align: center;
      &__headline{
        @include footer-headline
      }
      &__company-outline,&__privacypolicy,&__rule,&__pointrule{
        @include footer-text
      }
    }
    .look-furima{
      margin: 0 160px;
      display: flex;
      flex-direction: column;
      text-align: center;
      &__headline{
        @include footer-headline
      }
      &__categories,&__brands{
        @include footer-text
      }
    }
    .help-guide{
      display: flex;
      flex-direction: column;
      text-align: center;
      &__headline{
        @include footer-headline
      }
      &__user-guide,&__logo-guideline,&__info{
        @include footer-text
      }
    }
  }
  .footer-logo{
    height: 50px;
    width: auto;
  }
  &__company-logo{
      font-size: 14px;
      color: #fff;
  }
}