.item-box__table
  .item-box__table--tbody
    %table
      %tr
        %th
          出品者
        %td
          hoge
      %tr
        %th
          カテゴリー
        %td
          = link_to '#' do
            ベビー・キッズ
          %br/
          = link_to '#' do
            ベビー服(男女兼用)  ~95cm
          %br/
          = link_to '#' do
            アウター
      %tr
        %th
          ブランド
        %td
      %tr
        %th
          商品のサイズ
        %td
      %tr
        %th
          商品の状態
        %td
          未使用に近い
      %tr
        %th
          配送料の負担
        %td
          送料込み（出品者負担）
      %tr
        %th
          発送元の地域
        %td
          = link_to '#' do
            岩手県
      %tr
        %th
          発送日の目安
        %td
          4-7日で発送